.cardComponent{
    display: flex;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(30, 30, 30);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.cardContent{
    padding: 10%;    
}

.cardComponent:hover .hoverContent{
    display: flex;
    
}

.cardComponent:hover{
    background-color: #f1f1f1;
}

.hoverContent{
    display: none;
}
